.buildpath
.hgignore.swp
.project
.orig
.swp
../.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
backend/temp/
temp.yaml
bin
**/config/config.yaml
.idea
**/tmp
logs/
data
resource/static
backend/resource/public/admin